body {

	font-family: "PT Sans","Arial",sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: normal; 
	text-transform: uppercase;
	color: #000000;
	margin: 0;
	background-color: #f2f2f2;
}

.reasons-title, .reason-title {
	font-size: 21px;
	font-weight: bold;
	
}

.reason-description,.reason-title {
	line-height: 21px;
}

.search-decription {
	line-height: 24px;
}

.search-title {
	font-size: 30px;
	line-height: 24px;
}

.hotel-title, .found-title {
	font-size: 21px;
	font-weight: bold;
}

.filter-name {
	font-size: 16px;
	line-height: 21px;
	font-weight: bold;
}

.sort {
	font-size: 12px;
	line-height: 18px;
}


/*Сетка*/
.clearfix::after{
	content: "";
	display: table;
	clear: both;
}

.wrapper {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
	box-shadow:0 0 9px 0 #dbdbdb;
	
}
/*Шапка*/
.main-header {
	position: relative;
	z-index: 20;
	box-sizing: border-box;
}

ul {
	padding: 15px 72px;
	margin:0 0;
	list-style: none;
}

.menu-left {
	width: 20%;
	
	float: left;
	
}

.menu-right {
	width: 20%;
	text-align: right;
	float: right;
}

 ul li:nth-child(2) {
	padding-left: 27px;
}

ul li:nth-child(4) {
	padding-right: 33px;
}

.logo {
	height: 70px;
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	top: 0px;
}

.main-navigation a {
	text-decoration: none;
	font-weight: bold;
	color: #000000;
	display: block;
}

/*-----------------------на фоне гор----------------------*/
.promo {
	min-height: 510px;
	width:100%;
	position: relative;
	z-index: 10;
	box-sizing: border-box;
	padding-top:77px;
	margin-bottom: 58px;
	background-image: url("../img/background/background.jpg");
	background-repeat: no-repeat;
	background-position: 0 -55px;
}

.promo::after {
	content: "";
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
	height: 57px;
	background-image: url("../img/background/mask.png");
	background-repeat: no-repeat;
}

.promo-text {
	width: 458px;
	display: block;
	margin:0 auto;
}
/*----------------------- общая высота-ширина------------------------ */
.reasons-title {
	margin-bottom: 28px;
}
.reasons-description {
	margin-bottom: 52px;
}

.reasons {
	text-align: center;
}
.reason-row {
	min-height: 255px;
}
.reason {
	width:400px;
	float: left;
}

.reason-title {
	padding-left: 123px;
	padding-right: 123px;
}

.reason-description {
	padding-left: 49px;
	padding-right: 49px;
}
/*-----------------------на голубом фоне---------------------------- */
.reason-row--blue {
	background-color: #81b3d2;
	height: 256px;
	overflow: hidden; 
}

.reason-image {
	height: 256px;
	width:800px;
	background-color: #b1beac;
}


.reason-row--blue .reason {
	color: white;
}

.reason-row--blue .reason-title {
	margin-top: 53px;
	margin-bottom: 23px;
}

.reason-row--blue .reason-number {
	margin-bottom: 19px;
}

/*----------------------жилье,еда,сувениры----------------------------*/
.reason-row--white {
	min-height: 330px;
}

.reason-row--white .reason-title {
	margin-top: 160px;
	margin-bottom: 25px;
}

.reason-row--white .reason-description{
	margin-bottom: 82px;
}

/*----------------Фоновые картинки к блокам ------------------ */
.reason-icon {
	position: relative;
}
.reason-icon--hotel .reason-title::before {
	content:"";
	position: absolute;
	top:61px;
	left:162px;
	width:74px;
	height:72px;
	background-image: url("../img/icon/spritesheet.png");
	background-position:-928px -20px ;
	background-repeat: no-repeat;
}

.reason-icon--food .reason-title::before {
	content:"";
	position: absolute;
	top:61px;
	left:162px;
	width:74px;
	height:72px;
	background-image: url("../img/icon/spritesheet.png");
	background-position:-324px -21px;
	background-repeat: no-repeat;
}

.reason-icon--souvenirs .reason-title::before {
	content:"";
	position: absolute;
	top:57px;
	left: 166px;
	width:74px;
	height:76px;
	background-image: url("../img/icon/spritesheet.png");
	background-position:-1411px -21px ;
	background-repeat: no-repeat;
}

/*------------------------блоки без изображений----------------- */
.reason-row--grey {
	box-sizing: border-box;
	min-height: 257px;
	padding-top: 30px;
	margin-bottom: 60px;
	background-color: #eeeeee;
	
}

.reason-row--grey .reason-title {
	width: 120px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 23px;
}

.reason-row--grey .reason-number {
	margin-bottom: 18px;
}
/*--------------- поиск гостриницы-----------------------------*/
.hotel-search {
	background-color: #ffffff;
	margin-top: -60px;
	padding-top: 25px;
	text-align: center;

}
.search-description {
	margin-bottom: 43px;
}
.search-btn {
	width: 568px;
	height: 87px;
	margin:0 auto;
	font-family: "PT Sans","Arial",sans-serif;
	font-size: 21px;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	background-color: #766357;
	border: 0;
    outline: 0; 
	
}

.map-content{
	position: relative;
}

/*----------------------- ----------------------------- */
.form {
	width: 568px;
	min-height: 395px;
	position: absolute;
	transform: translateX(-50%);
    left: 50%;
    top:0;
    box-sizing: border-box;
	padding-top: 55px;
	padding-bottom: 55px;
	padding-right: 54px;
	padding-left: 55px;
	background-color: #ffffff;
}

.search-wrap {
	height: 38px;
	display: inline-block;
	vertical-align: top;
	font-size: 0px;
	margin-bottom: 29px;

}

.search-wrap label {
	font-size:14px;
	font-weight: bold;
	padding-left: 0px;
	padding-right:19px;
}

.search-wrap input {
	height: 38px;
	width: 307px;
	box-sizing: border-box;
	margin-right: 0px;
	margin-bottom: 29px;
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 15px;
	font-size: 14px;
	text-transform: uppercase;
	line-height:26px;
	color: #000000;
	border: none;
	background-color: #f2f2f2;

}

.search-wrap input:hover {
	background-color: #ebebeb;
}

.search-wrap input:focus {
	background-color: #ffffff;
	border-color: #e5e5e5;
}

.calendar {
	height: 38px;
	width: 40px;
	display: inline-block;
	vertical-align: top;
	border: none;
	background-color: #f2f2f2;
	background-image: url("../img/icon/spritesheet.png");
	background-position:-427px -13px;
}

.calendar:hover {
	background-image: url("../img/icon/spritesheet.png");
	background-position:-489px -13px;
}

.calendar:focus {
	background-image: url("../img/icon/spritesheet.png");
	background-position:-550px -13px;
	border-color: #e5e5e5;
}
.amount {
	width: 227px;
}
.amount input {
	width: 38px;
	display: inline-block;
	vertical-align: top;
}

.amount label {
	margin-right: 20px;
}

.minus {
	width:38px;
	height: 38px;
	border: 0;
	outline: 0;
	
	background-color: #f2f2f2;
	background-image: url("../img/icon/spritesheet.png");
	background-position:-1190px -4px;
}

.minus:hover {
	background-image: url("../img/icon/spritesheet.png");
	background-position:-1090px -4px;
}

.minus:focus {
	background-image: url("../img/icon/spritesheet.png");
	background-position:-1143px -4px;
}

.plus {
	width:38px;
	height: 38px;
	
	border: 0;
	outline: 0;
	background-color: #f2f2f2;
	background-image: url("../img/icon/spritesheet.png");
	background-position:-1350px -8px;
}

.plus:hover {
	background-image: url("../img/icon/spritesheet.png");
	background-position:-1250px -8px;
}

.plus:focus {
	background-image: url("../img/icon/spritesheet.png");
	background-position:-1300px -8px;
}

.submit-btn {
	width: 458px;
	height:58px;
	display: block;
	margin-top: 23px;
	font-family: "PT Sans","Arial",sans-serif;
	font-size: 21px;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	border:0;
	outline:0;
	background-color: #81b3d2;
}

.submit-btn:hover {
	background-color: #669ec0;
}

.submit-btn:focus {
	background-color: #5496bd;
	color: rgba( 255, 255, 255, 0.4);
}
/*----------------------- футер --------------------------- */
.main-footer {
	width: 1200px;
	min-height: 130px;
	box-sizing: border-box;
	padding-top: 36px;
	font-size: 0px;
	background-color: rgba(255,255,255,0.9);
	position: absolute;
	bottom: 0px;
	left:0px;

}

.hashtag {
	width: 400px;
	font-size: 14px;
	padding-top: 10px;
	display: inline-block;	
	vertical-align: top;
}

.hashtag a {
	text-decoration: none;
	color: #000000;
	font-size: 21px;
	font-weight:bold;
}

.social-btns {
	width: 400px;
	font-size: 14px;
	display: inline-block;
	vertical-align: top;
}

.social-btn {
	display: inline-block;
	width: 46px;
	height: 48px;
	margin: 0 1px;
	font-size: 0;
	vertical-align: top;
	text-decoration: none;
	background-image:  url("../img/icon/spritesheet.png");
	background-position: 
	background-repeat: no-repeat;
	background-color: #81b3d2;
}

.social-btn-twitter {
	background-image: url("../img/icon/spritesheet.png");
	background-position: -1680px -4px;
}

.social-btn-twitter:focus {
	background-color: #5496bd;
	color: rgba(255,255,255,0.4);
}

.social-btn-facebook {
	background-image: url("../img/icon/spritesheet.png");
	background-position: -861px -7px;
}

.social-youtube {
	background-image: url("../img/icon/spritesheet.png");
	background-position: -1032px -5px;
}

.footer-copyright {
	width: 400px;
	font-size: 14px;
	display: inline-block;
	vertical-align: top;
	margin-top: -13px;
}

.academy-logo {
	position: relative;
	top:18px;
	margin-left: 4px;
}

/* inner.html*/
.filters {
	min-height: 217px;
	box-sizing: border-box;
	padding-left: 72px;
	padding-right: 72px;
	padding-top: 29px;/*добавить 5px вокруг текста*/
	background-image: url("../img/background/background-filtered.jpg");
	background-repeat: no-repeat;
}

.filter-colomn {
	width: 140px;
	padding-right: 115px;
	text-align: left;
	float: left;
}

.found {
	height: 88px;
	box-sizing: border-box;
	padding-left: 72px;
	padding-right: 72px;
	padding-top: 31px;
	border-bottom: 1px solid #e5e5e5;

}

.sort {
	float: left; 
}

.found li {
	display: inline-block;
	padding-top: 5px;
	margin-right: 20px;	
}

.found-title {
	float: left;
	margin-right: 20px;
}

.arrows {
	width: 36px;
	float: right;
}
/* */
.hotel {
	min-height: 151px; /*later will change for min-height */
	box-sizing: border-box;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 72px;
	padding-right: 72px;
	border-bottom: 1px solid #e5e5e5;

}

.hotel-image {
	width: 135px;
	height: 90px;
	margin-right: 30px;
	float: left;
}

.hotel-description {
	width: 258px;
	float: left;
}

.hotel-rating {
	width: 111px;
	float: right;
}
/* подвал внутренней страницы*/
.footer {
	width: 1200px;
	min-height: 120px;
	font-size: 0px;
	background-color: #fefefe;
}

/*Оформление контента*/





